{% extends "base.html" %}
{# Getting there. Korean address is shown large so readers can show it to a taxi driver. #}
{% block content %}
  <span class="eyebrow">Getting there</span>
  <div class="title" data-qa="map.heading">{{ slide.heading }}</div>
  {% if slide.body %}<div class="lead" data-qa="map.body">{{ slide.body }}</div>{% endif %}
  {% if event %}
  {% if event.nearest_station %}
  <div class="route" data-qa="map.route">
    <span class="stop">{{ event.nearest_station }}<small>Subway</small></span>
    <span class="line"></span>
    <span class="stop end">{{ event.venue_en }}<small>{{ event.venue_ko }}</small></span>
  </div>
  {% endif %}
  {% if event.address_ko %}
  <div class="taxi" data-qa="map.place">
    <span class="lbl">Show this to a taxi driver · 택시 기사님께 보여주세요</span>
    <span class="addr" data-qa="map.address_ko">{{ event.address_ko }}</span>
  </div>
  {% endif %}
  {% endif %}
{% endblock %}
